<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>AudioMixer</string>
    <key>CFBundleIdentifier</key>
    <string>com.audiomixer.halplugin</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>AudioMixer</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>D1811E08-1074-4F0C-95D3-D6536338155A</key>
        <string>MixerDriver_Create</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>D1811E08-1074-4F0C-95D3-D6536338155A</key>
        <array>
            <string>443ABAB8-E7B3-491A-B985-BEB9187030DB</string>
        </array>
    </dict>
</dict>
</plist>
